@import url(./variables.css);

.business-landing-header {
  background-color: var(--dark-grey);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: white;
  padding: 1.5rem 4rem;
  align-items: center; 
  font-size: 24px;
  font-weight: bold;
}

.whatsapp-button {
  background-color: #25D366; color: white; font-size: 16px;
  height: 50px;
}
 

.main {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.business-landing-header-title {
  font-size: 24px;
}

.content {
  margin-top: 6rem;
  align-items: center;
}

.content-left {
  font-size: 36px;
  padding-right: 1.5rem;
  min-width:  45%;
  max-width: 60%;
}

.content-left p {
  padding-bottom: 2rem;
}

.content-right {
  /* margin-top: 4rem; */
}



.features {
  margin-top: 7rem;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.feature { 
  margin-right: 1rem;
}

.feature:last-child {
  margin-right: 0rem;
}

.feature-title {
  margin-left: 1rem;
}

.testimonial {
  margin-top: 7rem;
  background-color: var(--blue);
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  min-height: 17rem;
}
.testimonial p {
  width: 40%;
  text-align: center;
}

.contact-us {
  margin-top: 7rem;
}

.contact-us > h1 {
  text-align: center;
  font-size: 48px;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-us div h1 {
  margin-bottom: 1rem;
}
.contact-us div p {
  margin-bottom: 0.5rem;
}


.map {
  height: 400px;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: var(--dark-grey);
  width: 100%;
  border-radius: 10px;
  color: white;
  padding: 2rem 1rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  margin-top: 3rem;

}

@media (max-width: 768px) {
  .store-front {
   width: 100%;
   height: 100%;
  }
  .content-left {
    font-size: 30px; 
  }

  .testimonial p {
    width: 50%; 
  }

  .contact-us > h1 { 
    font-size: 46px; 
  }

  .features { 
    justify-content: center;
    flex-wrap: wrap;
  }
  .feature {
    margin-top: 1rem;
  }
}
@media (max-width: 530px) {

  .business-landing-header {
    padding: 2rem 0;
   flex-direction: column;
   justify-content: stretch;
   align-items: center;
   position: relative;
  }
  .business-landing-header-title {
   margin-top: 0;
   font-size: 32px;
  }
 .business-landing-header p{
  width: 85%; 
  text-align: center;
  }
  .business-landing-header button{
    margin-top: 1rem;
  width: 85%; 
  text-align: center;
  }

  .main {
    width: 85%;  
  }

  .content {
    margin-top: 2rem;
    flex-direction: column;
    position: relative;
    margin-bottom: 7rem;
    align-items: flex-start;

  }
  .content-left   {
  min-width: 100%;
  max-width: none;
  font-size: 24px;

  }
  .content-left button {
    position: absolute;
    bottom: -5rem;
    left: 0;
    width: 100%;

  }


  .features {
    margin-top: 3rem;
    font-size: 18px; 
    justify-content: flex-start;
  }

  .feature {
    margin-top: 2rem;
  }
  .feature-image {
    width: 60px;
    height: 60px;
  }
  .feature:last-child .feature-image{

    height: 70px;
  }
  
  
  .testimonial {
    margin-top: 3rem; 
    min-height: 14rem;
  }
  .testimonial p {
    font-size: 18px;
    width: 90%;
  }
 
  .contact-us   { 
   margin-top: 3rem;
   flex-direction: column;
  }
  .contact-us > div  {  
   flex-direction: column;
  }
  .contact-right {
    margin-top: 2rem;
  }
  
  .contact-left h1, .contact-right h1 {
    font-size: 18px !important;
  }
  
  .map {
    height: 350px;
  }
  
  .contact-us > h1 { 
    text-align: left;
    font-size: 28px;
    margin-bottom: 1.5rem;
  }

  .contact-us div h1 {
    font-size: 18px;
  }

  .button {
    padding: 0rem; 
  }

  .footer-logo {
    width: 150px;
  }
  

}

@media (max-width: 480px) {
 
  
  
 
 
  .content-left p {
    padding-bottom: 1rem;
  }
 
.map {
  height: 300px;
}
  

  
}

 